/*NAVBAR*/
footer{
    background-color: #95C4FC;
}
.navbar-nav {
    font-size: 18px;
}
.navbar-nav.ml-auto {
    background-color: #95C4FC;
    border-radius: 12px;
    padding: 3px 0px 3px 7px;
    border: 1px solid;
    margin-right: 50px;
}
.navbar-light .navbar-nav .nav-link {
    color: #000;
}
.navbar-nav {
    font-size: 15px;
    font-weight: 700;
}
.navbar-light .navbar-nav .nav-link:hover {
    color: white !important;
}

li.nav-item {
    padding-right: 15px;
}
.masthead {
    height: 130vh;
    min-height: 500px;
    background-image: url(../img/bg-certo.svg);

    background-position: left;
    background-repeat: no-repeat;
}
.text-img {
    display: -webkit-inline-box;

}
.img-astro {
    margin-left: 100px;
    width: 200px;
    bottom: 154px;
    position: relative;
}
h2.font-weight-light {
    font-weight: 800 !important;
    color:#114664;
    font-size: 40px;
}
p.texto-info{
    position: relative;
    bottom:120px;
    color: #14052A;
    text-align: justify;
    font-size: 16px;
}
.container.cont-header {
    height: 100%;
}

.font-weight-light.titulo{
    color: white;
    font-weight: 600 !important;
    font-size:48px;
}
.lead{
    color: white;
    font-size: 40px;
}
.info-footer {
    margin-bottom: 0px;
    line-height: 18px;
    color: #000000;
    font-size: 18px;
}
.page-footer.blue.text-center.text-md-left.mt-0 {
    padding-top: 55px;
}
.footer-copyright{
    color:#000000
}
.btn.btn-jogar {
    background-color: white;
    color: #16072E;
    font-size: 32px;
    margin-top: 48px;
    border-radius: 60px;
    padding: 0px 15px;
}
ul.footer-icon {
    list-style-type: none;
    display: flex;
}
li.icon {
    padding: 20px 30px 0px 24px;
}
li.icon:hover {
    color: white;
}

@media(max-width:800px){
    .masthead{
        background-position: right;
    }
    .texto-header-astro {
        max-width: 50%;
    }
    .texto-explicativo {
        max-width: 100%;
    }
    .info-footer{
        line-height: 25px;
    }
    .navbar-light .navbar-toggler{
        border:none;
    }
    
}

@media (max-width:450px){
    .texto-header-astro {
        max-width: 100%;
        margin-top: 105px;
    }
    .text-img {
        display: block;
    }
    p.texto-info {
        bottom: 0px;
    }
    .img-astro {
        bottom: 0px;
    }
    .masthead{
        background-color: #1D0E3D;
    }
    .custom-toggler .navbar-toggler-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    }
}

@media (max-width:320px){
    .col-sm-12.col-md-3.img-header.text-center img {
        width: 100%;
    }
    .img-astro {
        margin-left: 50px;
    }
}